.contenedor{
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

a{
  color: black;
  margin-left: 10px;
}

button{
  cursor: pointer;
  border-radius: .5em;
  margin: 23px;
  width: 210px;
  height: 160px;
  background-color: #E3E3E3
}

p{
  margin-left: 18px
}
div{
  margin-left: 18px
}
body{
  background-color: #394557;
}

.freddy:hover{
  background-image: url("https://cdn141.picsart.com/312654432101211.png?type=webp&to=min&r=640");
  background-size: cover;
}
.bonnie:hover{
  background-image: url("https://i.ya-webdesign.com/images/transparent-fnaf-full-body.png");
  background-size: cover;
}
.chica:hover{
  background-image: url("https://vignette.wikia.nocookie.net/freddy-fazbears-pizza/images/7/71/FNaF_VR_-_Chica.png/revision/latest?cb=20191224022755&path-prefix=es");
  background-size: cover;
}
.foxy:hover{
  background-image: url("https://i.pinimg.com/originals/a7/b0/1a/a7b01a788c666a50d67d6d4f0d503a17.png");
  background-size: cover;
}
.golden:hover{
  background-image: url("https://external-preview.redd.it/6R-EC44vlzdzYZQKkx-Al0Zf_WiiRsGNexVcXvrbMyQ.png?auto=webp&s=a34e9ea9aaa18c9f189c4bbc5ff770450916d837");
  background-size: cover;
}
