.contenedor{
  margin-top: 10px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

a{
  color: black;
  margin-left: 10px;
}

button{
  cursor: pointer;
  border-radius: .5em;
  margin: 22px;
  width: 210px;
  height: 160px;
  background-color: #E3E3E3
}
button:hover{
  cursor: pointer;
  border-radius: .5em;
  width: 225px;
  height: 175px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 19px;
}

p{
  margin-left: 18px
}
div{
  margin-left: 18px
}
body{
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d703fc3a-23e5-41ca-a298-2fe7856c8d95/db29wa2-a2c8a45b-6b72-45f1-a3fb-62921cf97c3b.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDcwM2ZjM2EtMjNlNS00MWNhLWEyOTgtMmZlNzg1NmM4ZDk1XC9kYjI5d2EyLWEyYzhhNDViLTZiNzItNDVmMS1hM2ZiLTYyOTIxY2Y5N2MzYi5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.fL_CwK8I7_NNyT2rzqZVRZvx7v6ZXFhmQ2aqvjWwk88")

}

.freddy:hover{
  background-image: url("https://cdn141.picsart.com/312654432101211.png?type=webp&to=min&r=640");
  background-size: cover;
}
.bonnie:hover{
  background-image: url("https://i.ya-webdesign.com/images/transparent-fnaf-full-body.png");
  background-size: cover;
}
.chica:hover{
  background-image: url("https://vignette.wikia.nocookie.net/freddy-fazbears-pizza/images/7/71/FNaF_VR_-_Chica.png/revision/latest?cb=20191224022755&path-prefix=es");
  background-size: cover;
}
.foxy:hover{
  background-image: url("https://i.pinimg.com/originals/a7/b0/1a/a7b01a788c666a50d67d6d4f0d503a17.png");
  background-size: cover;
}
.golden:hover{
  background-image: url("https://external-preview.redd.it/6R-EC44vlzdzYZQKkx-Al0Zf_WiiRsGNexVcXvrbMyQ.png?auto=webp&s=a34e9ea9aaa18c9f189c4bbc5ff770450916d837");
  background-size: cover;
}
